@page
@model OpenSocials.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}


<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@("docsearch")/css@3" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <main class="form-signin w-100 vh-100 m-auto">
        <div class="py-2">
            <h3>Sobre</h3>
        </div>

        <div class="container">
            <p>
                Coordenado pela Profa. Dra. Katia Romero Felizardo, o projeto tem como
                objetivo levar dignidade para meninas que têm o direito à educação
                prejudicado por menstruarem, seja pela falta de absorventes ou por não
                saberem lidar com a transição de fase em suas vidas.
            </p>
            <h6>
                O projeto tem como público alvo meninas de escolas públicas de
                Cornélio Procópio que ofertam anos finais do ensino fundamental e
                ensino médio.
            </h6>
            <p>
                A equipe é formada por alun@s dos diferentes cursos de graduação da
                UTFPR-CP que auxiliarão na realização de palestras sobre Pobreza
                Menstrual e arrecadação e distribuição gratuita de produtos de higiene
                menstrual sustentáveis para meninas das escolas públicas de Cornélio
                Procópio.
            </p>
            <p>
                Se sua escola tem interesse em abrir esse diálogo, entre em contato
                conosco!
            </p>
            <p>
                Para mais informações e/ou caso tenha interesse em atuar
                voluntariamente no projeto, entre em contato com
                katiascannavino@utfpr.edu.br.
            </p>
            <p>
                Rede social do Projeto:
                <a href="https://www.instagram.com/bonsfluidosutfpr/" target="_blank">@("bonsfluidosutfpr")</a>
            </p>
        </div>
    </main>

</body>

</html>
