@page
@model OpenSocials.Pages.LogsModel
@{
	ViewData["Title"] = "Logs";
}

@section Scripts
{
	<script src="../assets/js/color-modes.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
}

@section Stylesheet
{
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/css/site.css" />
}

    <main class="divBase w-100 vh-100 m-auto">
        <div class="py-2">
            <h3>Logs</h3>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Alteração</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Criação noticia</td>
                    <td>03/03/2023</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Alteração noticia</td>
                    <td>17/08/2023</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Criação de usuário</td>
                    <td>22/07/2023</td>
                </tr>
            </tbody>
        </table>
    </main>
